#about {
  padding: 80px 0;
  background-color: #000;
  color: #fff;
}

.about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content {
  max-width: 800px;
  text-align: center;
}

.about-content h2 {
  color: #dc3545;
  margin-bottom: 30px;
  font-weight: bold;
}

.about-content em {
  color: #aaa;
  font-size: 1.2em;
  display: block;
  margin-bottom: 30px;
}

.about-content ul {
  list-style: none;
  padding: 0;
  text-align: left;
  margin-top: 40px;
}

.about-content li {
  margin-bottom: 20px;
  font-size: 1.1em;
}

.about-content li b {
  color: #dc3545;
  margin-right: 10px;
}