.btn-black {
  background-color: black;
  color: white;
  transition: background-color 0.3s ease;
}

.btn-black:hover,
.btn-black:focus {
  background-color: #cc0000;
  color: white;
}

body {
  background-color: black;
  color: white;
}

.bg-black {
  background-color: black !important;
}

.text-red {
  color: #cc0000 !important;
}
